html, body{
	height:100%;
	width:100%;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}
label{
	font-weight: normal;
}
.has-feedback label ~ .form-control-feedback{
	top:44px;
	color: #FFF;
}
.btn{
	border-radius: 0px;
}
.btn-primary{
	background-color: #c5c2c2;
	border: 1px solid #CCC;	
	color: #727272;	
}
.btn-primary:hover, .btn-primary:focus{
	background-color: #A8A8A8;		
	border: 1px solid #CCC;	
}
.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary{
	background-color: #A8A8A8;	
	border: 1px solid #CCC;	
	color: #727272;	
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover{
	background-color: #A8A8A8;
}
.home{
	height: 100%;
	text-align: center;
	background-image: url(../images/bgimage-lg.jpg);
	background-size: cover;	
	background-position: center bottom;
	background-attachment: fixed;
}
.home-text{
	color: #FFF;
	text-align: center;
	width: 100%;
	line-height: 2em;
}
.banner-box{
    display: table;
    height:100%;
    width:100%;
    color: #FFF;
}
.banner-boxcontent{
    display: table-cell;
    vertical-align: middle;
}
.home-logo{
	text-align: center;
	margin-bottom: 10px;
	font-size: 3em;
	font-weight: 100;
}
.home-logo img{
	width:250px;	
	vertical-align: middle;
}
.home-selamat{
	text-align: center;
	margin-bottom: 20px;
}
.home-button{
	margin-top: 40px;	
	margin-bottom: 40px;	
}
.home-button a{
	background-color: #1F66AB;
	color: #FFF;
	padding: 10px 40px;
	font-size: 1.5em;
	border-radius: 5px;
}
.home-button a:hover{
	background-color: #3B87C4;
	text-decoration: none;
}
.howto{
	background-image: url(../images/bgwhite.jpg);
	background-position: center bottom;
	text-align: center
	color: #2B2B2B;
}
.howto-logo{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 3em;
	font-weight: 100;
	color: #FFF;
}
.howto-logo img{
	width:40px;	
	vertical-align: middle;
}
.howto-text{
	line-height: 2em;
	text-align: left;
	color: #2B2B2B;
}
.howto-text ul{
	padding-left:15px;
}
.howto-button{
	margin-top: 30px;	
	margin-bottom: 80px;	
	text-align: center;
}
.howto-button a{
	background-color: #1F66AB;
	color: #FFF;
	padding: 10px 40px;
	font-size: 1.5em;
	border-radius: 5px;
}
.howto-button a:hover{
	background-color: #3B87C4;
	text-decoration: none;
}
.howto-logo{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 3em;
	font-weight: 100;
	color: #FFF;
}
.howto-logo img{
	width:180px;	
	vertical-align: middle;
	margin-bottom:10px;
}

.register{
	background-image: url(../images/bgwhite.jpg);
	background-position: center bottom;
	color:#2B2B2B;
	text-align: center;
	min-height: 600px;
}
#pilih-area option{
	padding: 3px 0px;
}
#form-pilih-kategori{
	display: none;
}
#form-pilih-tanggal{
	display: none;
}
#form-data{
	display: none;
}
.register-logo{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 2em;
	font-weight: 100;
	color: #00509D;
}
.register-logo img{
	width:20px;	
	vertical-align: middle;
}
.register form{
	text-align: left;
}
.register .form-group{
	margin-bottom: 10px;
}
.register form .label-form{
	border-bottom: solid 1px #DDD;
	padding-bottom: 2px;
	margin-bottom: 5px;
	margin-top: 15px;
}
.register-text{
	margin-bottom: 10px;
}
.register .form-control{
	font-size: 1em;
}
.register select.form-control{
	background-color: #F2F2F2;
	color: #2B2B2B;
	border-radius: 3px;
}
.form-data .form-group label{
	font-weight: normal;
	margin-bottom: 0px;
}
.form-data input{
	background-color: #F2F2F2;
	color: #2B2B2B;
	height: 30px
}
.form-data textarea{
	background-color: #F2F2F2;
	color: #2B2B2B;	
}
.register-button{
	margin-top: 30px;	
	margin-bottom: 100px;	
	text-align: center;
}
.register-button a{
	background-color: #F37721;
	color: #FFF;
	padding: 10px 40px;
	font-size: 1.5em;
}
.register-button a:hover{
	background-color: #F2995C;
	text-decoration: none;
}
.form-data .checkbox a{
	text-decoration: underline;
}
.addinput{
	text-align: center;
	margin-bottom: 10px;
}
.addinput a{
	font-size: 0.9em;
}

input[type="checkbox"], input[type="radio"]{
	margin: 0px;
}
.checkbox input[type="checkbox"]{
	/*margin-top: -4px;*/
}
.checkbox-tanggal{
	margin-left: 20px;
}
.termss{
	color:#00509D;
}
.terms-logo{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 2em;
	font-weight: 100;
	color: #00509D;
}
.terms-logo img{
	width:20px;	
	vertical-align: middle;
}
.terms-text ol{
	padding-left: 15px;
}
.btn-terms{
	background-color: #1F66AB;
	color: #FFF;
	padding: 5px 30px;
}
.modal-header{
	padding: 3px 0px 0px;
	border-bottom: 0px;
}
.modal-content{
	padding: 0px 15px 15px 15px;
}

.thankyou{
	background-image: url(../images/bgimage-lg.jpg);
	background-size: cover;	
	background-position: center bottom;
	background-attachment: fixed;
	text-align: center;
	height: 100%;
}
.thankyou-logo{
	text-align: center;
	margin-bottom: 10px;
	font-size: 3em;
	font-weight: 100;
	color: #FFF;
}
.thankyou-logo img{
	width:200px;	
	vertical-align: middle;
}
.thankyou-name{
	font-size: 2em;
	text-align: center;
	color: #A1B33D;
	font-weight: 300;
}
.thankyou-name img{
	margin-top:10px;
	width: 120px;
}
.thankyou-id{
	font-size: 2em;
	text-align: center;
	color: #A1B33D;
	font-weight: 700;
}
.thankyou-message{
	font-size: 2em;
	font-weight: 700;
}
.thankyou-message2{
	font-weight: 400;	
}
.thankyou-id span{
	font-size: 3em;
	color: #F37721;
	line-height: 3em;
}
.thankyou-text{
	border-top: 1px solid #FFF;
	padding-top: 10px;
	margin-top: 10px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #badbf9;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #badbf9;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #badbf9;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #00;
}
.form-control::-webkit-input-placeholder{
	color: #badbf9;
}
.form-control:-moz-placeholder{
	color: #badbf9;
}
.form-control::-moz-placeholder{
	color: #badbf9;
}
.howto .footer{
	position: relative;
}
.footer{
	position: absolute;
	bottom: 5px;
	color: #FFF;
	font-size: 0.75em;
	width: 90%;
	text-align: left;
}
.footer i{
	font-size: 2em;
	padding-left: 10px;
}
.footer a i{
	color: #FFF;
}
.footer .powered{
	padding-top: 5px;
	float: right;
}
.register.footer{
	color: #00509D;
	position: relative;	
}
.register.footer a i{
	color: #00509D;
}
.form-control{
	border:0px;
}
.form-control-feedback{
	pointer-events:auto;
}
.form-control-feedback:hover{
	cursor: pointer;
	color:#FFF;
}
#addinput:hover{
	cursor:pointer;
}
.has-feedback input{
	margin-bottom: 2px;
}

@media(max-height:400px) {
	.home-logo{
		text-align: center;
		margin-bottom: 0px;
		font-size: 3em;
		font-weight: 100;
	}
	.thankyou-id span{
		line-height: 1.7em;
	}
	.footer{
		bottom: 5px;
	}

}
@media(max-width:540px) {
	body{
		font-size: 14px;
	}
	.footer a img{
		width: 25px;
		padding-right: 3px;
		padding-bottom: 3px;
	}

}
@media(min-width:1024px) {
	.home-logo img{
		width:400px;	
		vertical-align: middle;
	}
	.home-text{
		font-size: 1.3em;
	}
	.thankyou-text{
		font-size: 1.3em;
	}
	.howto-text{
		font-size: 1.3em;
	}
	.register{
		font-size: 1.1em;
	}

}